.ant-pagination-item {
    border-radius: 50px;
    background: #fff;
    border-color: $search-color;
    a {
        color: #000;
    }
}

.ant-pagination-item:hover {
    border-color: $third-color;
    a {
        color: $third-color;
    }
}

.ant-pagination-item-active {
    background: #fff;
    border-color: $search-color;
        a {
            color: $primary-color;
        }
}

.ant-pagination-item-active:hover {
    border-color: $third-color;
    a {
        color: $third-color;
    }
}


.ant-pagination-item-active:focus {
    border-color: $third-color;
    a {
        color: $third-color;
    }
}

.use_icon {
    display: inline-block;
    font-family: FontAwesome;
    // font-family: 'Times New Roman', Times, serif;
    // font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.btn {
    align-self: center;
}





.jkVlE {
    background: #9DA65D;
}